/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
//    padding: $spacing-unit 0;
   	clear: right; 
	padding: 0px 10px 0 10px;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

body {
    background: #000 none repeat scroll 0 0;
    color: #000;
    font-family: geneva,arial,helvetica,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}
html {
    height: 100%;
    margin: 0;
    padding: 0;
}
a:link {
    color: #e5a250;
    text-decoration: none;
}
a:visited {
    color: #b2906d;
    text-decoration: none;
}
a:hover, a:active {
    color: #99d0dd;
    text-decoration: none;
}
abbr {
    cursor: help;
}
a abbr {
    cursor: help;
}
p {
    font-size: 80%;
}
.page-wrapper {
    background: #fff url("fond.jpg") repeat-y scroll left top;
    border: 0 none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    position: relative;
    text-align: left;
    width: 800px;
}
html > body .page-wrapper {
    width: 800px;
}
header {
    margin-bottom: 5px;
    text-align: right;
}

header h1 {
   /* background-size: 565px 216px;
    height: 216px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    width: 565px;*/
}
header h2 {
    display: none;
}
.summary {
    background: transparent none repeat scroll 0 0;
    color: #fff;
    margin: 20px 80px 40px 295px;
    text-align: center;
}
.summary a, .summary a:visited {
    color: #99d0dd;
}
.summary a:hover, .summary a:active {
    color: #e5a250;
}
.preamble {
    background: #fff url("fond1.jpg") repeat-y scroll 0 0;
    margin: 0 29px 0 235px;
    padding: 0 0 30px;
    width: 536px;
}
.explanation, .benefits, .requirements, .participation {
    border: 0 none;
    margin: 0 29px 0 235px;
    padding: 0;
    width: 536px;
}
.explanation {
    background: #fff url("fond2.jpg") repeat-y scroll left top;
}
.participation {
    background: #fff url("fond3.jpg") repeat-y scroll left top;
}
.benefits {
    background: #fff url("fond4.jpg") repeat-y scroll left top;
    padding-bottom: 40px;
}
.requirements {
    background: #fff url("fond5.jpg") repeat-y scroll left top;
    padding-bottom: 20px;
}
.explanation p, .participation p, .benefits p, .requirements p, .preamble p {
    text-align: justify;
}
.preamble p, .participation p, .requirements p {
    margin: 5px 120px 0 20px;
}
.explanation p, .benefits p {
    margin: 5px 20px 0 120px;
}
.preamble h3, .explanation h3, .participation h3, .benefits h3, .requirements h3 {
    border: 0 none;
    margin: 0;
    width: 536px;
}
.supporting h3, .preamble h3 {
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}
.preamble h3 {
    background: rgba(0, 0, 0, 0) url("road.jpg") no-repeat scroll left top;
    height: 106px;
}
.explanation h3 {
    background: rgba(0, 0, 0, 0) url("about.jpg") no-repeat scroll left top;
    height: 168px;
}
.participation h3 {
    background: rgba(0, 0, 0, 0) url("particip.jpg") no-repeat scroll left top;
    height: 154px;
    width: 565px;
}
.benefits h3 {
    background: rgba(0, 0, 0, 0) url("benef.jpg") no-repeat scroll left top;
    height: 171px;
}
.requirements h3 {
    background: rgba(0, 0, 0, 0) url("req.jpg") no-repeat scroll left top;
    height: 125px;
}
footer {
    background: transparent url("fin.jpg") no-repeat scroll left top;
    color: #fff;
    height: 223px;
    margin: 0 29px 0 235px;
    padding: 0;
    text-decoration: underline;
    width: 536px;
}
footer a {
    color: #99d0dd;
    left: 40px;
    padding: 0;
    position: relative;
    top: 120px;
}
footer a:hover, footer a:active {
    color: #e5a250;
    text-decoration: none;
}
.extra1 {
    background: #b2906d url("bas.jpg") no-repeat scroll left top;
    height: 119px;
    margin: 0 auto 30px;
    text-align: left;
    width: 800px;
}
.sidebar {
    background: rgba(0, 0, 0, 0) url("chat.jpg") no-repeat scroll left top;
    color: #e5a250;
    font-size: 80%;
    left: 0;
    margin: 0;
    padding: 150px 0 0;
    position: absolute;
    top: 0;
    width: 215px;
}
.sidebar h3 {
    height: 76px;
    margin: 40px 0 20px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 185px;
}
.sidebar h3.select {
    background: transparent url("select.jpg") no-repeat scroll left top;
}
.sidebar h3.archives {
    background: transparent url("archiv.jpg") no-repeat scroll left top;
}
.sidebar h3.resources {
    background: transparent url("resou.jpg") no-repeat scroll left top;
}
.sidebar ul {
    background: #000 none repeat scroll 0 0;
    border: 2px solid #b2906d;
    margin: 0 30px 0 20px;
    padding: 7px 2px 5px;
}
.sidebar li {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.sidebar a {
    color: #e5a250;
    font-size: small;
    text-decoration: none;
}
.sidebar a:hover {
    color: #99d0dd;
}
.design-selection li {
    margin: 0 0 10px;
}
.design-selection li a {
    display: block;
}
.design-selection li a.designer-name {
    display: inline;
}
.design-selection a {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #b2906d;
    margin: 0;
    padding-left: 30px;
    text-transform: uppercase;
}
.design-selection a:hover {
    background: rgba(0, 0, 0, 0) url("puce.jpg") no-repeat scroll 0 -3px;
    color: #99d0dd;
}
.design-selection a:visited {
    color: #964;
}
.design-selection a.designer-name {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    color: #e5a250;
    margin: 0;
    padding-left: 10px;
    text-transform: none;
}
.design-selection a.designer-name:hover {
    background: transparent none repeat scroll 0 0;
    color: #99d0dd;
}
.design-archives li, .zen-resources li {
    margin: 0 0 15px;
}
.design-archives a, .design-archives a:visited {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    margin: 0;
    padding: 10px 0 0 20px;
}
.design-archives a:hover {
    background: rgba(0, 0, 0, 0) url("puceherbe.jpg") no-repeat scroll 0 4px;
}
.zen-resources a, .zen-resources a:visited {
    background: transparent none repeat scroll 0 0;
    border: 0 none;
    margin: 0;
    padding: 5px 0 5px 20px;
}
.zen-resources a:hover {
    background: rgba(0, 0, 0, 0) url("puceparenth.jpg") no-repeat scroll left center;
}
